{% extends "base.html" %}


{% block title %}Chat{% endblock %}

{% block content %}

    <div class="container vh-100">

        <!-- title -->
        <div class="row bg-info title">
            <div class="col-12">
                <h5 class="py-2">Name</h5>
            </div>
        </div>
        <!-- title -->
        
        <!-- msg body -->
        <div class="row bg-success msg-body">
            <div class="col-12">
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                          </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-grow-1 me-3 text-end">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                          </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-grow-1 me-3 text-end">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                          </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-grow-1 me-3 text-end">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                          </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-grow-1 me-3 text-end">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                          </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                <!-- person item  -->
                <div class="row py-2">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-grow-1 me-3 text-end">
                                <h5>Name</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellat consequatur delectus similique perferendis magni neque natus, voluptates vel velit.</p>
                            </div>
                            <div class="flex-shrink-0" style="height:64px;width:64px;">
                              <img style="height:100%;width:100%;" class="rounded-circle" src="https://via.placeholder.com/64" alt="...">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- person item end -->
                
            </div>

        </div>
        <!-- msg body -->

        <!-- msg input area -->
            <div class="row msg-input">
                <div class="col-10 p-0 gr-3" style=" height:100%">
                    <textarea class="form-control w-100 h-100" id="msg"></textarea>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <button type="submit" class="btn btn-primary w-100">Send</button>
                </div>
            </div>
        <!-- msg input area -->
    </div>
    
{% endblock %}
